html, body{
    font-family: monospace;
    padding-left: 20px;
}

h1{
    color: rgb(229, 255, 0);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.container{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction:row;
    text-align: center;
    flex-wrap: wrap;
    width: 500px;
}

.card{
    border: 1px solid rgb(206, 206, 206);
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    justify-content: center;
    box-shadow: 2px 2px 2px rgb(206, 206, 206);
    min-width: 100px;
}

.card h3 {
    margin-top: 0;
    margin-bottom: 10%;
}